@use "../../abstracts/index" as *;

.devis{
    background-color: $couleurSecondaire;
    text-align: left;
    @include flex;
    justify-content: space-around;

    @media (min-width: $laptop){
        padding: 50px 0;
    }

    &__title{
        color: $couleurFamily;
        margin: 10px;

        @media (min-width: $laptop){
            font-size: 50px;
        }
    }

    &__form{
        @include grid;

        @media (min-width: $laptop){
            grid-template-columns: 1fr 1fr;
        }
    }

    &__label{
        display: block;
        margin: 10px;
    }

    &__input{
        width: 200px;
        height: 35px;
        @media (min-width: $laptop){
            height: 50px;
        }
    }

    &__submit{
        @include button-one;
        margin: 10px;

        @media (min-width: $laptop){
            grid-column: 2 span;
            width: auto;
        }
    }
}