@use "../abstracts/index" as *;

header{
    @include flex;
    background-color: $couleurPrincipale;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;

    @media (min-width: $laptop){
        flex-direction: row;
        padding-top: 0;
        height: 100px;
    }

    ul{
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    li{
        margin: 5px;
    }
    li a{
        color: $couleurFamily;
    }

    div{
        @include flex;
        background-color: $couleurSecondaire;
        width: 100%;
        border-bottom: solid 1px;

        @media (min-width: $laptop){
            width: 10%;
            height: 100px;
            border: none;
        }

        a{
            color: $couleurPrincipale;
        }
    }
}